@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
/*----------My variables----------*/
@font-face {
  font-family: 'Raleway-Black';
  src: url("/fonts/Raleway-Black.ttf");
}
@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url("/fonts/Raleway-BlackItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url("/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url("/fonts/Raleway-BoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url("/fonts/Raleway-ExtraBold.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url("/fonts/Raleway-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url("/fonts/Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  src: url("/fonts/Raleway-ExtraLightItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url("/fonts/Raleway-Italic.ttf");
}
@font-face {
  font-family: 'Raleway-Light';
  src: url("/fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: 'Raleway-LightItalic';
  src: url("/fonts/Raleway-LightItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url("/fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url("/fonts/Raleway-MediumItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url("/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url("/fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src: url("/fonts/Raleway-SemiBoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url("/fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: 'Raleway-ThinItalic';
  src: url("/fonts/Raleway-ThinItalic.ttf");
}
/* line 5, ../../resources/assets/sass/custom.scss */
.navbar {
  background-color: #fff;
  margin-bottom: 0;
  min-height: 85px;
}

/* line 10, ../../resources/assets/sass/custom.scss */
.navbar-brand {
  height: 85px;
  line-height: 50px;
  font-family: Raleway-Bold;
  color: #000 !important;
}

/* line 16, ../../resources/assets/sass/custom.scss */
.navbar-toggle {
  margin-top: 25px;
}

@media (min-width: 768px) {
  /* line 22, ../../resources/assets/sass/custom.scss */
  .navbar-nav > li > a {
    line-height: 50px;
  }
}
/* line 29, ../../resources/assets/sass/custom.scss */
.caret {
  color: #000 !important;
}

/* line 32, ../../resources/assets/sass/custom.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}

/* line 39, ../../resources/assets/sass/custom.scss */
.navbar-nav li .dropdown-menu {
  font-size: 12px;
  margin-top: 5px;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.175);
}
@media (min-width: 768px) {
  /* line 47, ../../resources/assets/sass/custom.scss */
  .navbar-nav li .dropdown-menu:before {
    content: ' ';
    display: block;
    position: absolute;
    top: -8px;
    right: 9px;
    width: 0;
    border: #d6d6d6;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: #d6d6d6 transparent;
  }
  /* line 59, ../../resources/assets/sass/custom.scss */
  .navbar-nav li .dropdown-menu:after {
    content: ' ';
    position: absolute;
    top: -6px;
    right: 11px;
    width: 0;
    border: #d6d6d6;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
  }
}

/* line 76, ../../resources/assets/sass/custom.scss */
.panel .panel-heading {
  padding: 6px 6px;
}

/* line 81, ../../resources/assets/sass/custom.scss */
.panel,
.form-control,
.btn {
  border-radius: 0;
}

/* naming convention
  <type>_<module>_<element>
  remove <type> if it will be used on other modules
*/
/*----------My variables----------*/
@font-face {
  font-family: 'Raleway-Black';
  src: url("/fonts/Raleway-Black.ttf");
}
@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url("/fonts/Raleway-BlackItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url("/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url("/fonts/Raleway-BoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url("/fonts/Raleway-ExtraBold.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url("/fonts/Raleway-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url("/fonts/Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  src: url("/fonts/Raleway-ExtraLightItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url("/fonts/Raleway-Italic.ttf");
}
@font-face {
  font-family: 'Raleway-Light';
  src: url("/fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: 'Raleway-LightItalic';
  src: url("/fonts/Raleway-LightItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url("/fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url("/fonts/Raleway-MediumItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url("/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url("/fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src: url("/fonts/Raleway-SemiBoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url("/fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: 'Raleway-ThinItalic';
  src: url("/fonts/Raleway-ThinItalic.ttf");
}
/* line 8, ../../resources/assets/sass/defaults.scss */
html, body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-family: Raleway-Regular, serif;
  height: 100%;
  margin: 0;
}

/* line 15, ../../resources/assets/sass/defaults.scss */
.wrapper {
  min-height: 100%;
  margin-bottom: -200px;
}
/* line 18, ../../resources/assets/sass/defaults.scss */
.wrapper .push {
  height: 300px;
}

/* line 23, ../../resources/assets/sass/defaults.scss */
.footer {
  height: 200px;
  border-top: 1px solid #e7e7e7;
}
/* line 26, ../../resources/assets/sass/defaults.scss */
.footer .footer-container {
  padding: 30px 16px;
}
/* line 28, ../../resources/assets/sass/defaults.scss */
.footer .footer-container .footer-site-links {
  list-style: none;
}
/* line 30, ../../resources/assets/sass/defaults.scss */
.footer .footer-container .footer-site-links li {
  font-family: Raleway-Regular;
  font-size: 12px;
  margin-left: 10px;
  display: block;
  float: left;
}

/* line 41, ../../resources/assets/sass/defaults.scss */
.custom_no-header-container {
  margin-top: 20px;
}

@media (min-width: 768px) {
  /* line 45, ../../resources/assets/sass/defaults.scss */
  .custom_no-header-container {
    margin-top: 100px;
  }
}
/* Home */
/* line 50, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container {
  padding: 0;
}
/* line 52, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .custom_home-head-banner {
  width: 100%;
  height: 350px;
  border-bottom: 1px solid #e7e7e7;
}
/* line 57, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .app_container {
  padding-top: 50px;
}
/* line 61, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .app_container .expenses_budget .panel.panel-default .panel-body {
  height: 120px;
}
/* line 63, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .app_container .expenses_budget .panel.panel-default .panel-body p#label_expense_description_title {
  text-align: left;
  font-family: Raleway-ExtraBold;
  font-size: 18px;
  color: #000;
}
/* line 69, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .app_container .expenses_budget .panel.panel-default .panel-body p#label_expense_amount {
  text-align: right;
  font-size: 32px;
  color: #000;
}
/* line 80, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .app_container .chart_widget .panel.panel-default .panel-body canvas {
  width: 300px;
  height: 300px;
}
