@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
/* line 2, ../../resources/assets/sass/custom.scss */
.panel {
  border-radius: 0;
}
/* line 4, ../../resources/assets/sass/custom.scss */
.panel .panel-heading {
  padding: 6px 6px;
}

/* line 1, ../../resources/assets/sass/defaults.scss */
.navbar {
  margin-bottom: 0;
}

/* naming convention
  <type>_<module>_<element>
  remove <type> if it will be used on other modules
*/
/* Home */
/* line 11, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container {
  padding: 0;
}
/* line 13, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .custom_home-head-banner {
  width: 100%;
  height: 350px;
  border-bottom: 1px solid #dddddd;
}
/* line 18, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .app_container {
  padding-top: 50px;
}
/* line 23, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .app_container .expenses_chart-container .expenses_panel-container .panel.panel-default .panel-heading {
  text-align: left;
}
/* line 26, ../../resources/assets/sass/defaults.scss */
.custom_fluid-container .app_container .expenses_chart-container .expenses_panel-container .panel.panel-default .panel-body {
  min-height: 300px;
  padding: 16px;
}
