/*----------My variables----------*/
@font-face {
  font-family: 'Raleway-Black';
  src: url("/fonts/Raleway-Black.ttf");
}
@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url("/fonts/Raleway-BlackItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url("/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url("/fonts/Raleway-BoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url("/fonts/Raleway-ExtraBold.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url("/fonts/Raleway-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url("/fonts/Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  src: url("/fonts/Raleway-ExtraLightItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url("/fonts/Raleway-Italic.ttf");
}
@font-face {
  font-family: 'Raleway-Light';
  src: url("/fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: 'Raleway-LightItalic';
  src: url("/fonts/Raleway-LightItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url("/fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url("/fonts/Raleway-MediumItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url("/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url("/fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src: url("/fonts/Raleway-SemiBoldItalic.ttf");
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url("/fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: 'Raleway-ThinItalic';
  src: url("/fonts/Raleway-ThinItalic.ttf");
}
/* line 5, ../../resources/assets/sass/custom.scss */
.navbar {
  background-color: #fff;
  margin-bottom: 0;
  min-height: 85px;
}

/* line 10, ../../resources/assets/sass/custom.scss */
.navbar-brand {
  height: 85px;
  line-height: 50px;
  font-family: Raleway-Bold;
  color: #000 !important;
}

/* line 16, ../../resources/assets/sass/custom.scss */
.navbar-toggle {
  margin-top: 25px;
}

@media (min-width: 768px) {
  /* line 22, ../../resources/assets/sass/custom.scss */
  .navbar-nav > li > a {
    line-height: 50px;
  }
}
/* line 29, ../../resources/assets/sass/custom.scss */
.caret {
  color: #000 !important;
}

/* line 32, ../../resources/assets/sass/custom.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}

/* line 39, ../../resources/assets/sass/custom.scss */
.navbar-nav li .dropdown-menu {
  font-size: 12px;
  margin-top: 5px;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.175);
}
@media (min-width: 768px) {
  /* line 47, ../../resources/assets/sass/custom.scss */
  .navbar-nav li .dropdown-menu:before {
    content: ' ';
    display: block;
    position: absolute;
    top: -8px;
    right: 9px;
    width: 0;
    border: #d6d6d6;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: #d6d6d6 transparent;
  }
  /* line 59, ../../resources/assets/sass/custom.scss */
  .navbar-nav li .dropdown-menu:after {
    content: ' ';
    position: absolute;
    top: -6px;
    right: 11px;
    width: 0;
    border: #d6d6d6;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
  }
}

/* line 76, ../../resources/assets/sass/custom.scss */
.panel .panel-heading {
  padding: 6px 6px;
}

/* line 81, ../../resources/assets/sass/custom.scss */
.panel,
.form-control,
.btn {
  border-radius: 0;
}
