/*----------My variables----------*/
//fonts
@font-face {
  font-family: 'Raleway-Black';
  src: url('/fonts/Raleway-Black.ttf');
}
@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url('/fonts/Raleway-BlackItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('/fonts/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url('/fonts/Raleway-BoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('/fonts/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url('/fonts/Raleway-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('/fonts/Raleway-ExtraLight.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  src: url('/fonts/Raleway-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url('/fonts/Raleway-Italic.ttf');
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('/fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Raleway-LightItalic';
  src: url('/fonts/Raleway-LightItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('/fonts/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url('/fonts/Raleway-MediumItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('/fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('/fonts/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src: url('/fonts/Raleway-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url('/fonts/Raleway-Thin.ttf');
}
@font-face {
  font-family: 'Raleway-ThinItalic';
  src: url('/fonts/Raleway-ThinItalic.ttf');
}
//screen sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-hd: 1200px;
//font size
$font-banner: 64px;
$font-xxl: 32px;
$font-xl: 24px;
$font-l: 18px;
$font-m: 15px;
$font-s: 12px;
$font-xs: 8px;
//border
$border: 1px solid #e7e7e7;
$border_darker: 1px solid #d6d6d6;
$border_primary_color: #e7e7e7;
$border_secondary_color: #d6d6d6;
//theme color
$theme_primary: #fff;
$theme_shaded: #aaaaaa;
//tab colors
$tab_item_active: #ff9e1e;
//alert colors
$warning: $tab_item_active;
//font
$font_primary: #000;
$font_secondary: #aaaaaa;
$font_tabs: #555;
//link colors
$link_color: #3278ff;

$box_shadow: 0 1px 3px rgba(0,0,0,.175);